body {
  font-size: 10px;
}

.main {
  max-width: 500px;
  margin: 0 auto;
}

  .main__title {
    text-align: center;
    font-size: 2rem;
  }


.tasks__task {
  margin-bottom: 1rem;
}

  .task__task {
    font-size: 1.2rem;
    margin: 0;
  }

  .task__task--completed {
    text-decoration: line-through;
    color: lightgray;
  }

.progress {
  position: relative
}

  .progress__value {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -0.5rem 0 0 -0.4rem;
  }
  .progress__circle {
    text-align: center;
  }